<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permisos para la localización en tiempo real -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permisos para el uso de cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tsecurity"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.ActivityRutaCaminata"
            android:exported="false" />
        <activity
            android:name=".ui.FormComentario"
            android:exported="false" />
        <activity
            android:name=".ui.FormularioRegistroIncidente"
            android:exported="false" />
        <activity
            android:name=".ui.PerfilCreatePhoto"
            android:exported="false" />
        <activity
            android:name=".ui.configurarCuenta"
            android:exported="false" />
        <activity
            android:name=".ui.RutaActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name=".ui.MapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RecuperarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.VisitFragment"
            android:exported="false" />
        <activity
            android:name=".ui.InitActivity"
            android:exported="false" /> <!-- Que llama al api key valida y llamamos el valor alojado en google_maps_key -->
        <!-- API KEY de Google Maps este es importante para el uso de mapas Generado en google -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.verification.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Tsecurity" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Splashteme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>